.header {
  height: auto;
  background-color: $primary;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 2rem;
}

.header-item {
  display: flex;
  align-items: center;
  color: $text-primary;
}
