.header {
  height: auto;
  background-color: $primary;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: map-get($screen-breakpoints, 'sm')) {
    justify-content: space-around;
  }
}

.header-logo {
  font-size: 2rem;
}

.header-item {
  display: flex;
  align-items: center;
  color: $text-primary;
}
