.label {
  color: $secondary;
}

.label-bold {
  font-weight: bold;
}

.label-error {
  color: $error;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.title-primary {
  color: $primary;
}

.title-secondary {
  color: $secondary;
}

.title-warning {
  color: $warning;
}

.title-danger {
  color: $danger;
}

.description {
  margin-bottom: 1rem;
}
