.form {
  width: 40%;
  height: 90%;
  margin: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.form-content {
}

.form-footer {
}
