.input {
  outline: none;
  display: block;
  padding: 0.5rem;
  margin: 0.2rem 0;
  border: 1px solid $border-color;
  border-radius: 0.5rem;

  &:focus {
    border: 2px solid $border-color;
  }
}

.input-error {
  border: 1px solid $error;

  &:focus {
    border: 2px solid $error;
  }
}
