.modal {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}

.modal-title {
  display: flex;
  align-items: center;
}

.modal-content {
  padding: 2rem;
  min-width: 33%;
  border-radius: 0.5rem;
  background: $modal-background;
}

.modal-active {
  display: flex;
  justify-content: center;
  align-items: center;
}
