.Toastify__toast--error {
  svg {
    fill: $danger;
  }

  .Toastify__progress-bar--error {
    background-color: $danger;
  }
}

.Toastify__toast--success {
  svg {
    fill: $primary;
  }

  .Toastify__progress-bar--success {
    background-color: $primary;
  }
}
