.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon {
  font-size: large;
  display: block
}

.permissions-section {
  display: flex;
  justify-content: center;
}

.permissions-form {
  width: 496px;
}

.permissions-save-changes-button {
  display: flex;
  width: 100%;
}
