.base-button:hover,
.base-button:focus {
  color: #fff;
  outline: 0;
}

.admin-button {
  background-color: $red;
  &:hover {
    box-shadow: 0 0 40px 40px red inset;
  }
}

.adviser-button {
  background-color: $orange;
  &:hover {
    box-shadow: 0 0 40px 40px orange inset;
  }
}

.client-button {
  background-color: $blue;
  &:hover {
    box-shadow: 0 0 40px 40px blue inset;
  }
}

.permissions-section {
  display: flex;
  justify-content: center;
}

.permissions-form {
  width: 496px;
}

.permissions-save-changes-button {
  display: flex;
  width: 100%;
}

.button {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.button-primary {
  color: $text-primary;
  background-color: $primary;
  &:hover {
    background-color: $primary-background;
  }
}

.actions {
  display: flex;
  flex: 100px 0 1;
  .btn-update,
  .btn-delete {
    margin-left: 20px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-delete {
  background-color: #f93e3e;
}

.btn-update {
  background-color: orange;
}

.btn-create {
  background-color: #40a779;
}

.btn-update,
.btn-create,
.btn-delete {
  color: white;
  svg {
    color: white;
  }
}
