$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$blue: #5a5ae1;
$red: #dc0000a5;
$orange: #ffc107;
$white: #ffffff;
$background: #2d2c3e;

$primary: #1a73e8;
$primary-background: #e4e9f04f;
$secondary: #757575;
$danger: #dc0000a5;
$text-primary: #ffffff;
