$align-items-directions: (
  'f-start': 'flex-start',
  'start': 'start',
  'center': 'center',
  'f-end': 'flex-end',
  'end': 'end',
  'between': 'space-between',
  'around': 'space-around',
);

$justify-content-directions: (
  'f-start': 'flex-start',
  'start': 'start',
  'center': 'center',
  'f-end': 'flex-end',
  'end': 'end',
  'between': 'space-between',
  'around': 'space-around',
);

.d-flex {
  display: flex;
}

.flex-direction {
  &-column {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
}

@each $dirName, $dir in $align-items-directions {
  .align-items-#{$dirName} {
    align-items: #{$dir};
  }
}

@each $dirName, $dir in $justify-content-directions {
  .justify-content-#{$dirName} {
    justify-content: #{$dir};
  }
}
