.create-area-form {
  background-color: rgba(86, 86, 81, 0.173);
  border: 1px solid rgba(86, 86, 81, 0.173);
  width: 500px;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;

  .footer {
    flex: none;
    background: none;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 5px;
  }
}
